.account_page {
    background-color: rgba(17, 17, 25, 1);
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.image_container {
    position: fixed;
    bottom: 0;
    left: -10px;
    opacity: 0.1;
    width: 570px;
}

.header {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
}

.header>p {
    margin-left: 150px;
    align-items: center;
}

.return_button {
    cursor: pointer;
    margin-right: 10px;
    padding-bottom: 20px;
}

.title {
    width: 600px;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}


button {
    width: 250px;
    height: 70px;
    border-radius: 30px;
    border: 0;
    font-size: 26px;
    margin-right: 5px;
    background-color: rgba(29, 74, 231, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 46.8px;
}

.support_button {
    position: fixed;
    bottom: 40px;
    right: 100px;
    width: 250px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: rgba(29, 74, 231, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


@media (max-width:400px) {
    .account_page {
        height: 1100px;
    }

    .image_container {
        bottom: 0;
        left: -10px;
        opacity: 0.2;
        width: 200px;
    }

    .header {
        margin-top: 50px;
        margin-left: 30px;
    }

    .header>p {
        margin-left: 30px;
        align-items: center;
    }

    .return_button {
        margin-right: 10px;
        padding-bottom: 5px;
        width: 30px;
    }

    .title {
        width: 200px;
        font-size: 25px;
        line-height: 25px;
    }

    button {
        width: 250px;
        height: 70px;
        border-radius: 30px;
        border: 0;
        font-size: 26px;
        margin-right: 5px;
        line-height: 46.8px;
    }

    .support_button {
        position: fixed;
        bottom: 60px;
        right: 40px;
        width: 120px;
        height: 40px;
        border-radius: 35px;
        font-size: 16px;
        line-height: 10px;
    }
}