
.navbar {
    background-color: #111119;
    width: 100%;
    height: 12vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}


.nav_list {
    display: inline-flex;
    align-items: flex-start;
    gap: 2.5vw;
    margin-left: 5vw;
}

.nav_list li {
    display: inline;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    width: fit-content;
    margin-top: -0.1vw;
    color: #f2f2ff;
    font-size: 1.4vw;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
}

.actions {
    display: flex;
    align-items: center;
}

.actions img {
    cursor: pointer;
    height: 5vh;
}

.actions img:first-child {
    margin-right: 2vw;
    margin-left: 2vw;
}

.actions img:last-child {
    margin-left: 4vw;
    margin-right: 5vw;
}

.nav_toggle {
    display: none;
    cursor: pointer;
    width: 35px;
}

@media (max-width: 450px) {
    .navbar {
        width: 100%;
        height: 7vh;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .nav_list {
        display: none;
        top: 253px;
        left: -20px;
        background-color: #111119;
        width: 35%;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        padding: 2vh 0;
    }

    .nav_toggle {
        display: block;
        margin-right: auto;
        margin-left: 30px;
    }

    .actions img {
        height: 18px;
    }

    .actions img:last-child {
        height: 30px;
    }
}
